@page "/"
@using Microsoft.EntityFrameworkCore
@using PeteTest.Data
@inject ApplicationDbContext DbContext

<h1>Hello, world!</h1>

Welcome to your new app.

@if (_results != null)
{
    @foreach (var result in _results)
    {
        <p>@result.message_id</p>
    }
}

@code {

    private List<GEMMessage> _results;

    protected override async Task OnInitializedAsync()
    {
        DateTime startDate = DateTime.Now.AddDays(-1);
        DateTime endDate = DateTime.Now;
        var qty = 100;

        _results = await DbContext.GEMMessages
            .OrderByDescending(message => message.message_id)
            .Where(message => message.last_contact >= startDate && message.last_contact <= endDate)
            .Take(qty)
            .ToListAsync();
    }

}